@{
    ViewData["Title"] = "Expenses";
}

@model List<appdev_webapp.Models.Expense>

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <p>View your expenses here.</p>
    <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-primary">Create New Expense</a>
    @if (!Model.Any())
{
        <p class="my-3"> <strong> No expense records found. </strong></p>
}
    else
{
    <table class="table my-3">
        <thead>
            <tr>
                <th> ID </th>
                <th> Value </th>
                <th> Description </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var expense in Model)
                {
                    <tr>
                        <td> @expense.Id</td>
                        <td> @expense.Value</td>
                        <td> @expense.Description</td>
                            <td>
                                <a asp-controller="Home" asp-action="CreateEditExpense" asp-route-id="@expense.Id" class="btn btn-primary btn-sm">Edit</a>

                                <form asp-controller="Home" asp-action="Delete" asp-route-id="@expense.Id" method="post" style="display:inline;"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Total: </strong></td>
                <td colspan="2"> <strong>@Model.Sum(e => e.Value)</strong> </td>
            </tr>
        </tfoot>
    </table>
 }
</div>
